<div class="header-search-box">
    <div class="search-input-wrapper">
        <input name="q" class="header-input" value="" placeholder="配件编码、配件名称或VIN" autocomplete="off">
        <div class="search-tips" style="display: none;">
            <script type="text/template">
                {{#data}}
                <a href="/search?q={{input}}" class="search-tip-item clearfix">
                    <span class="text">{{output}}</span>
                    <span class="tip-btn delete-btn" data-action="delete">删除</span>
                </a>

                {{/data}}
                <div class="clear-btn-wrapper clearfix">
                    <a href="javascript:;" class="tip-btn close-btn" data-action="close">关闭</a>
                    <a href="javascript:;" class="tip-btn clear-btn" data-action="reset">清空</a>
                </div>
            </script>
        </div>
    </div>
    <a href="javascript:;" class="header-search-btn btn-two v-middle">
        <i class="icon iconfont icon-search"></i>
        <span class="text">搜索</span>
    </a>
</div>
