@import "../../../sass/etc/mixin";
@import "../../../sass/var/frame";

.header-search-box {
    width: 460px;
    height: 40px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    .search-input-wrapper {
        @include setInlineBlock();
        width: 360px;
        vertical-align: top;
    }
    .search-tips {
        width: 360px;
        position: absolute;
        background: #ffffff;
        border: $common-solid-border;
        @include boxShadow(2px 2px 2px $solid-line-color);
        margin: auto;
        padding: 10px 0 0;
        display: none;
    }
    .header-search-btn {
        width: 100px;
        position: absolute;
        top: 0;
        right: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        font-size: 0;
        .icon {
            margin-right: 4px;
        }
        .text {
            font-size: 16px;
        }
    }
    .ksk-purchase{
        position: absolute;
        bottom: 0;
        right: -70px;
        text-decoration: none;
        color: $text-color;
        &:hover {
            color: $hover-color;
        }
        &:active {
            color: $active-color;
        }
    }
}

.search-tips {
    .search-tip-item {
        display: block;
        width: 100%;
        color: $text-color;
        line-height: 30px;
        text-decoration: none;
        padding: 0 20px;
        font-size: 0;
        &:hover, &.active{
            background-color: $parts-item-hover-bg;
            color: $hover-color;
        }
        .text {
            display: inline-block;
            font-size: $main-font-size;
            width: 280px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            vertical-align: middle;
        }
    }
    .clear-btn-wrapper {
        line-height: 30px;
        padding: 0 20px;
        border-top: $common-solid-border;
    }
    .tip-btn {
        text-decoration: none;
        font-size: $main-font-size;
        color: $search-btn-color;
        float: right;
        vertical-align: middle;
        &:hover {
            color: $active-color;
        }
        &.delete-btn {
            display: none;
        }
    }
    .clear-btn {
        display: none;
        margin-right: 10px;
    }
    &.history {
        .search-tip-item {
            &:hover {
                .delete-btn {
                    display: inline-block;
                }

            }
        }
        .clear-btn {
            display: inline;
        }
    }
}
