<div class="header-search-box">
    <div class="search-input-wrapper">
        <input name="q" class="header-input" placeholder="配件编码、配件名称或VIN" autocomplete="off" [(ngModel)]="keyword"  (focus)="getSearchHistory()" (input)="getSearchSuggest($event)" (keyup.enter)="doSearch()" />
        <div class="search-tips" [class.history]="mode === 'history'" [ngStyle]="{display: isShowSearchTips ? 'block' : 'none'}">
            <a *ngFor="let item of tips; let i = index;" [routerLink]="['/search']" [queryParams]="{q: item.input}" class="search-tip-item clearfix" [class.active]="i === curTipIndex ? true : false">
                <span class="text">{{item.input}}</span>
                <span class="tip-btn delete-btn" (click)="deleteTip(item.input)">删除</span>
            </a>
            <div class="clear-btn-wrapper clearfix">
                <a href="javascript:;" class="tip-btn close-btn" (click)="hideSearchTips()">关闭</a>
                <a href="javascript:;" class="tip-btn clear-btn" (click)="clearSearchTips()" [ngStyle]="{display: mode === 'history' ? 'block' : 'none'}">清空</a>
            </div>
        </div>
    </div>
    <a href="javascript:;" class="header-search-btn btn-two v-middle"  (click)="doSearch()">
        <i class="icon iconfont icon-search"></i>
        <span class="text">搜索</span>
    </a>
</div>
