@mixin setInlineBlock() {
    display: inline-block;
    *zoom: 1;
}

@mixin textOverflow() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin setAutoImg() {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    outline: none;
}

@mixin setHeightGroup($height, $border:0) {
    height: $height;
    line-height: $height - $border;
}

@mixin boxShadow($prop...) {
    -webkit-box-shadow: $prop;
    -moz-box-shadow: $prop;
    box-shadow: $prop;
}

@mixin boxSizing($prop) {
    -webkit-box-sizing: $prop;
    -moz-box-sizing: $prop;
    box-sizing: $prop;
}

@mixin borderRadius($prop) {
    -webkit-border-radius: $prop;
    -moz-border-radius: $prop;
    border-radius: $prop;
}

@mixin opacity($prop) {
    opacity: $prop;
    filter: alpha(opacity=$prop * 100);
}

@mixin transition($prop...) { // ie10+
    -webkit-transition: $prop;
    -moz-transition: $prop;
    transition: $prop;
}

@mixin transform($prop...) {
    -webkit-transform: $prop;
    -moz-transform: $prop;
    -ms-transform: $prop; // ie9
    transform: $prop;
}

@mixin placeholderColor($color, $fontSize: 12px) {
    ::-webkit-input-placeholder {
        color: $color;
        font-size: $fontSize;
    }
    ::-moz-placeholder {
        color: $color;
        font-size: $fontSize;
    }
    :-ms-input-placeholder {
        color: $color;
        font-size: $fontSize;
    }
}

@mixin selection($bgColor, $color) {
    ::-moz-selection {
        background: $bgColor;
        color: $color;
    }
    ::selection {
        background: $bgColor;
        color: $color;
    }
}

$prefixList: '-webkit-' '-moz-' '';
@mixin createAnimation($name, $duration: 1s, $func: ease-in-out, $delay: 0, $count: infinite, $direction: normal, $state: running, $mode: none) { // ie10+
    @each $prefix in $prefixList {
        #{$prefix}animation-name: $name;
        #{$prefix}animation-duration: $duration;
        #{$prefix}animation-timing-function: $func;
        #{$prefix}animation-delay: $delay;
        #{$prefix}animation-iteration-count: $count;
        #{$prefix}animation-direction: $direction;
        #{$prefix}animation-play-state: $state;
        #{$prefix}animation-fill-mode: $mode;
    }
}

@mixin setAnimationDuration($duration) {
    @each $prefix in $prefixList {
        #{$prefix}animation-duration: $duration;
    }
}

@mixin createKeyframes($name) { // ie10+
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}

@mixin iconBtn($width,
	$height,
	$font-size,
	$color,
	$bg-color,
	$border, $margin,
	$hover-color,
	$bg-hover-color,
	$bg-active-color,
	$disabled-color,
	$disabled-bg-color,$radius: $icon-btn-radius) {
    @include setInlineBlock();
    width: $width;
    @include setHeightGroup($height, 2px);
    font-size: $font-size;
    text-decoration: none;
    text-align: center;
    border: $border;
    @include borderRadius($radius);
    color: $color;
    background-color: $bg-color;
    margin: $margin;
    &:hover {
        color: $hover-color;
        background-color: $bg-hover-color;
        border-color: $bg-hover-color;
    }
    &.active {
        color: $hover-color;
        background-color: $bg-active-color;
        border-color: $bg-active-color;
        &:hover {
            color: $hover-color;
            background-color: $bg-active-color;
            border-color: $bg-active-color;
        }
    }
    &.disabled {
        color: $disabled-color;
        background-color: $disabled-bg-color;
        border-color: $disabled-bg-color;
        &:hover {
            color: $disabled-color;
            background-color: $disabled-bg-color;
            border-color: $disabled-bg-color;
            cursor: default;
        }
    }
}

@mixin commonBtn(
    $height,
    $padding,
    $color,
    $bg-color,
    $border,
    $font-size,
    $radius,
    $min-width,
    $hover-color,
    $hover-bg-color,
    $active-color,
    $active-bg-color
) {
    display: inline-block;
    @include setHeightGroup($height, 2px);
    padding: $padding;
    color: $color;
    background-color: $bg-color;
    border: $border;
    font-size: $font-size;
    @include borderRadius($radius);
    min-width: $min-width;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    &:hover {
        color: $hover-color;
        background-color: $hover-bg-color;
        border-color: $hover-bg-color;
    }
    &.active, &.active {
        color: $active-color;
        background-color: $active-bg-color;
        border-color: $active-bg-color;
    }
}

@mixin setInputBox(
    $width,
  $height,
  $font,
  $padding,
  $border,
  $radius,
  $bg,
  $box-shadow
) {
    width: $width;
    font: $font;
    @include setHeightGroup($height, 2px);
    background: $bg;
    padding: $padding;
    border: $border;
    @include borderRadius($radius);
    @include boxShadow($box-shadow);
    @include placeholderColor($input-tip-color);
    vertical-align: top;
}

