<div style="width:100%;height:100%;" #loading loading>
  <!-- 工具栏 -->
  <div #legendToolbar class="legend-toolbar">
    <a data-action="zoomin" class="legend-toolbar-zoomin disabled"></a>
    <a data-action="zoomout" class="legend-toolbar-zoomout disabled"></a>
    <a data-action="reset" class="legend-toolbar-reset disabled"></a>
    <a data-action="rightrotate" class="legend-toolbar-right-rotate disabled"></a>
    <a data-action="leftrotate" class="legend-toolbar-left-rotate disabled"></a>
  </div>
  <div #legendBody class="svg-wrap"></div>
</div>
