@font-face {
  font-family: "iconfont";
  src: url('./fonts/iconfont.eot?t=1529896566768');
  /* IE9*/
  src: url('./fonts/iconfont.eot?t=1529896566768#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./fonts/iconfont.woff?t=1529896566768') format('woff'), /* chrome, firefox */
  url('./fonts/iconfont.ttf?t=1529896566768') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('./fonts/iconfont.svg?t=1529896566768#tinyepc') format('svg');
  /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: inherit;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
}

.icon-correct:before {
  content: "\e650";
}

.icon-replace:before {
  content: "\e651";
}

.icon-print:before {
  content: "\e652";
}

.icon-error:before {
  content: "\e653";
}

.icon-zoomin:before {
  content: "\e656";
}

.icon-price:before {
  content: "\e658";
}

.icon-warn:before {
  content: "\e659";
}

.icon-pwd:before {
  content: "\e65a";
}

.icon-detail:before {
  content: "\e65b";
}

.icon-calendar:before {
  content: "\e65c";
}

.icon-catalog:before {
  content: "\e65e";
}

.icon-delete:before {
  content: "\e65f";
}

.icon-search:before {
  content: "\e660";
}

.icon-car:before {
  content: "\e661";
}

.icon-zoomout:before {
  content: "\e662";
}

.icon-legend:before {
  content: "\e665";
}

.icon-system:before {
  content: "\e666";
}

.icon-left-arrow:before {
  content: "\e668";
}

.icon-mail:before {
  content: "\e669";
}

.icon-user:before {
  content: "\e66c";
}

.icon-checked:before {
  content: "\e66e";
}

.icon-bold-forward:before {
  content: "\e65d";
}

.icon-back:before {
  content: "\e663";
}

.icon-arrow-down:before {
  content: "\e664";
}

.icon-collapse:before {
  content: "\e66a";
}

.icon-forward:before {
  content: "\e66b";
}

.icon-expand:before {
  content: "\e66d";
}

.icon-cart:before {
  content: "\e66f";
}

.icon-replacement:before {
  content: "\e670";
}

.icon-right:before {
  content: "\e671";
}

.icon-left:before {
  content: "\e672";
}

.icon-close:before {
  content: "\e673";
}

.icon-arrow-up:before {
  content: "\e674";
}

.icon-copy:before {
  content: "\e675";
}

.icon-verify:before {
  content: "\e676";
}

.icon-info:before {
  content: "\e667";
}

.icon-service:before {
  content: "\e67e";
}

.icon-basic-info:before {
  content: "\e67f";
}

.icon-service-list:before {
  content: "\e680";
}

.icon-part-desc:before {
  content: "\e681";
}

.icon-harness:before {
  content: "\e682";
}

.icon-export:before {
  content: "\e683";
}

.icon-visible:before {
  content: "\e684";
}

.icon-invisible:before {
  content: "\e685";
}

.icon-sub-account:before {
  content: "\e686";
}

.icon-edit:before {
  content: "\e689";
}

.icon-list:before {
  content: "\e68a";
}

.icon-dealer-info:before {
  content: "\e68b";
}

.icon-node-expand:before {
  content: "\e68f";
}

.icon-node-collapse:before {
  content: "\e690";
}

.icon-node-leaf:before {
  content: "\e691";
}

.icon-uncheck-box:before {
  content: "\e693";
}

.icon-checked-box:before {
  content: "\e694";
}

:host {
  color: inherit;
  font-size: 12px;
}
