<div class="condition-item" [ngClass]="{collapse: isCollapsed, expand: !isCollapsed}">
    <div class="condition-title">
        <span class="bold-text title-text">{{title}}</span>
        <span class="current-choice-wrapper" *ngIf="activeItem">
            <span class="current">[</span>
            <span class="current current-choice"> {{activeItem.name}} </span>
            <span class="current">]</span>
        </span>
    </div>
    <div class="condition-content">
        <div *ngFor="let item of list;">
            <a class="text-link secondary" [class.active]="item?.code === activeItem?.code" (click)="select(item)">{{item?.name}}</a>
        </div>
    </div>
    <div class="condition-btn-wrapper">
        <a class="condition-btn">
            <span class="btn-collapse" *ngIf="isCollapsed" (click)="toggle()"><i class="iconfont icon-collapse"></i><span class="text">更多</span></span>
            <span class="btn-expand" *ngIf="!isCollapsed" (click)="toggle()"><i class="iconfont icon-expand"></i><span class="text">收起</span></span>
        </a>
    </div>
</div>
