@import "../../sass/etc/mixin";
@import "../../sass/var/frame";

.header {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 10001;
    min-width: 1200px;
}

.navigation {
    @include setHeightGroup($top-nav-height);
    background: $top-nav-color;
    padding: 0 5px 0 20px;
    position: relative;
    .user-box {
        float: left;
    }
    .nav-box {
        font-size: 0;
        float: right;
    }
}

ul.nav-box {
    .dropdown-content {
        min-width: 88px;
        padding: 2px;
        position:absolute;
        background: #fff;
        @include boxShadow(1px 2px 4px 0 $shadow-color, 0px 0px 4px 0 $shadow-color);
        border: $common-solid-border;
        @include borderRadius($common-radius);
        top: 28px;
        right: 0;
        z-index: 1020;
        &:before, &:after {
            content: '';
            position: absolute;
            display: inline-block;
            width: 0;
            height: 0;
            border-style: solid;
        }
        &:before {
            border-width:  0 7px 10px 7px;
            border-color: transparent transparent #fff transparent;
            top: -8px;
            right: 11px;
        }
        &:after {
            border-width: 0 8px 10px 8px;
            border-color: transparent transparent $shadow-color transparent;
            top: -10px;
            right: 10px;
        }
        &:before {
            z-index: 1;
        }
        .link-btn{
            display: inline-block;
            width: 100%;
            height: 32px;
            line-height: 32px;
            text-decoration: none;
            text-align: center;
            color: $text-color;
            &:hover {
                background: $parts-item-hover-bg;
                color: $active-color;
            }
            &:active {
                background: $parts-item-active-bg;
                color: $active-color;
            }
        }
        display: none;
    }
    & > li {
        font-size: $main-font-size;
        display: inline-block;
        *zoom: 1;
        position: relative;
        vertical-align: top;

        .nav-link {
            display: inline-block;
            line-height: 1em;
            padding: 0 12px;
            border-left: solid 1px $dash-line-color;
            text-decoration: none;
            color: $text-color;
            &:hover {
                color: $hover-color;
            }
            &:active {
                color: $active-color;
            }
        }
        &:first-child {
            & > a {
                border-left: none;
            }
        }
        .icon-active {
            color: $important-color;
        }
        .icon-down, .icon-up {
            color: #717171;
        }
        .icon-up {
            display: none;
        }
        &:hover {
            cursor: pointer;
            .icon-down {
                display: none;
            }
            .icon-up {
                color: $active-color;
                display: inline;
            }
            .text {
                color: $hover-color;
            }
        }
        &.toggle-bg {
            &:hover {
                .dropdown-content {
                    display: block;
                }
            }
        }
    }
}

.banner {
    padding-left: 20px;
    height: $banner-height;
    background-color: $banner-bg-color;
    position: relative;
    .logo-wrapper {
        display: inline-block;
        text-decoration: none;
        font-size: 0;
        line-height: 0;
        img {
            outline: none;
        }
    }
}

