<header class="header">
    <nav class="navigation">
        <div class="user-box">
            <a href="javascript:;" class="username text-link">yaowbyd</a>
            <span>,！欢迎使用比亚迪电子备件目录</span>
        </div>
        <ul class="nav-box">
            <li>
                <a href="/" class="nav-link">首页</a>
            </li>
            <li id="shoppingCartNotice" class="toggleBg">
                <a href="/cart" class="nav-link"> <i class="icon-active iconfont icon-cart"></i>
                    <span class="text">购物车</span>
                    <span>(</span>
                    <span class="important-text" id="shoppingcart-kindCount">0</span>
                    <span>)</span> <i class="icon-down iconfont icon-arrow-down"></i>
                    <i class="icon-up iconfont icon-arrow-up"></i>
                </a>
                <div class="cart-wrapper cart-header-wrap cart-content dropdowncontent condition-block">
                    <div class="no-goods-header-wrapper info-text">
                        <span class="icon">
                            <i class="iconfont icon-cart"></i>
                        </span>
                        <span>您的购物车还是空的，赶紧挑选备件吧~~~</span>
                    </div>
                </div>
            </li>
            <li id="languages" class="toggleBg">
                <a href="javascript:;" class="nav-link">
                    <span class="icon"></span>
                    <span class="text">语言</span>
                    <i class="icon-down iconfont icon-arrow-down"></i>
                    <i class="icon-up iconfont icon-arrow-up"></i>
                </a>
                <ul id="languages" class="dropdownlist dropdowncontent">
                    <li>
                        <a href="javascript:;" class="link-btn" data-action="change-lang" data-lang-code="zh">中文</a>
                    </li>
                    <li>
                        <a href="javascript:;" class="link-btn" data-action="change-lang" data-lang-code="en">English</a>
                    </li>
                </ul>
            </li>
            <li id="settings" class="toggleBg">
                <a href="/user" class="nav-link" target="_blank">
                    <span class="icon"></span>
                    <span class="text">用户中心</span>
                </a>

            </li>

            <li>
                <a href="/user/logout" class="nav-link">退出</a>
            </li>

        </ul>
    </nav>
    <!-- logo 搜索区域 -->
    <section style="height:85px;background: #ddd;">
        logo 搜索区域
        <!-- <app-heaer-middle></app-heaer-middle>
    -->
</section>

<!-- nav scope-->
<section class="navbar">
    <a class="crumbs-item" href="#m_1=4702" data-crumbskey="m_1">
        <span class="paging-icon">
            <i class="iconfont icon-arrow-right"></i>
        </span>
        <span>品牌：</span>
        <span>比亚迪</span>
    </a>
    <a class="crumbs-item" href="#m_1=4702&amp;m_2=1004478" data-crumbskey="m_2">
        <span class="paging-icon">
            <i class="iconfont icon-arrow-right"></i>
        </span>
        <span>车系：</span>
        <span>CHF</span>
    </a>
    <a class="crumbs-item" href="#m_1=4702&amp;m_2=1004478&amp;m_3=12135430" data-crumbskey="m_3">
        <span class="paging-icon">
            <i class="iconfont icon-arrow-right"></i>
        </span>
        <span>年：</span>
        <span>2015</span>
    </a>
</section>
</header>

