@import "../../sass/etc/mixin";
@import "../../sass/var/frame";

.header {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 10001;
    min-width: 1200px;
}

.navigation {
    @include setHeightGroup($top-nav-height);
    background: $top-nav-color;
    padding: 0 5px 0 20px;
    position: relative;
    .user-box {
        float: left;
    }
    .nav-box {
        font-size: 0;
        float: right;
    }
}

// header dropdown block
ul.nav-box {
    .dropdowncontent {
        min-width: 88px;
        padding: 2px;
        position:absolute;
        background: #fff;
        @include boxShadow(1px 2px 4px 0 $shadow-color, 0px 0px 4px 0 $shadow-color);
        border: $common-solid-border;
        @include borderRadius($common-radius);
        top: 28px;
        right: 0;
        z-index: 1020;
        &:before, &:after {
            content: '';
            position: absolute;
            display: inline-block;
            width: 0;
            height: 0;
            border-style: solid;
        }
        &:before {
            border-width:  0 7px 10px 7px;
            border-color: transparent transparent #fff transparent;
            top: -8px;
            right: 11px;
        }
        &:after {
            border-width: 0 8px 10px 8px;
            border-color: transparent transparent $shadow-color transparent;
            top: -10px;
            right: 10px;
        }
        &:before {
            z-index: 1;
        }
        .link-btn{
            display: inline-block;
            width: 100%;
            height: 32px;
            line-height: 32px;
            text-decoration: none;
            text-align: center;
            color: $text-color;
            &:hover {
                background: $parts-item-hoverbg;
                color: $active-color;
            }
            &:active {
                background: $parts-item-activebg;
                color: $active-color;
            }
        }
        display: none;
    }
    & > li {
        font-size: $main-font-size;
        display: inline-block;
        *zoom: 1;
        position: relative;
        vertical-align: top;

        & > .nav-link {
            display: inline-block;
            line-height: 1em;
            padding: 0 12px;
            border-left: solid 1px $dash-line-color;
            text-decoration: none;
            color: $text-color;
            &:hover {
                color: $hover-color;
            }
            &:active {
                color: $active-color;
            }
        }
        &:first-child {
            & > a {
                border-left: none;
            }
        }
        .icon-active {
            color: $important-color;
        }
        .icon-down, .icon-up {
            color: #717171;
        }
        .icon-up {
            display: none;
        }
        &:hover {
            cursor: pointer;
            .icon-down {
                display: none;
            }
            .icon-up {
                color: $active-color;
                display: inline;
            }
            .text {
                color: $hover-color;
            }
        }
        &.toggleBg {
            &:hover {
                .dropdowncontent {
                    display: block;
                }
            }
        }
    }
    .cart-content {
        width: 275px;
        max-height: 456px;
        min-height: 94px;
        padding: 0 20px 20px;
        .headline {
            margin-bottom: 0;
            .text {
                color: $text-color;
                background: #fff;
            }
        }
    }
}

// dropdownblock cart
.cart-content {
    .item-list {
        max-height: 308px;
        overflow: auto;
        margin-right: -18px;
    }
    .item {
        width: 233px;
        line-height: 20px;
        padding: 11px 0;
        border-bottom: $common-dotted-border;
        cursor: default;
        &:first-child {
            padding-top: 4px;
        }
        .part {
            width: 125px;
            @include setInlineBlock();
            vertical-align: middle;

        }
        .info {
            width: 98px;
            @include setInlineBlock();
            vertical-align: middle;
            text-align: right;
            .num {
                color: $gray-text;
            }
            .delete-btn {
                margin-left: 5px;
            }
        }
        &.disabled {
            color: $gray-text;
            background: $cart-item-disabledbg;
            .text-link {
                color: $gray-text;
                text-decoration: none;
                cursor: default;
            }
            * {
                color: $gray-text;
            }
        }
    }
    .total {
        text-align: right;
        margin: 10px 0;
        .product-num {
            margin: 0 3px;
        }
    }
    .btn-wrapper {
        text-align: right;
    }
    .no-goods-header-wrapper {
        margin: 30px -17px 10px;
        .icon {
            font-size: 0;
            vertical-align: middle;
            margin-right: 5px;
            .iconfont {
                font-size: 30px;
            }
        }
        .text {
            vertical-align: middle;
        }
    }
}

.banner {
    padding-left: 20px;
    height: $banner-height;
    background-color: $banner-bg-color;
    position: relative;
    .logo-wrapper {
        display: inline-block;
        text-decoration: none;
        font-size: 0;
        line-height: 0;
        img {
            outline: none;
        }
    }
    .search-input-wrapper {
        @include setInlineBlock();
        width: 360px;
        vertical-align: top;
    }
    .header-searxh-box {
        width: 460px;
        height: 40px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        .header-search-btn {
            width: 100px;
            position: absolute;
            top: 0;
            right: 0;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            font-size: 0;
            .icon {
                margin-right: 4px;
            }
            .text {
                font-size: 16px;
            }
        }
        .ksk-purchase{
            position: absolute;
            bottom: 0;
            right: -70px;
            text-decoration: none;
            color: $text-color;
            &:hover {
                color: $hover-color;
            }
            &:active {
                color: $active-color;
            }
        }
    }
    .search-tips {
        width: 360px;
        position: absolute;
        background: #ffffff;
        border: $common-solid-border;
        @include boxShadow(2px 2px 2px $solid-line-color);
        margin: auto;
        padding: 10px 0 0;
        display: none;
    }
}

// history suggestion tip block
.search-tips {
    .search-tip-item {
        display: block;
        width: 100%;
        color: $text-color;
        line-height: 30px;
        text-decoration: none;
        padding: 0 20px;
        font-size: 0;
        &:hover, &.active{
            background-color: $parts-item-hoverbg;
            color: $hover-color;
        }
        .text {
            display: inline-block;
            font-size: $main-font-size;
            width: 280px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            vertical-align: middle;
        }
    }
    .clear-btn-wrapper {
        line-height: 30px;
        padding: 0 20px;
        border-top: $common-solid-border;
    }
    .tip-btn {
        text-decoration: none;
        font-size: $main-font-size;
        color: $search-btn-color;
        float: right;
        vertical-align: middle;
        &:hover {
            color: $active-color;
        }
        &.delete-btn {
            display: none;
        }
    }
    .clear-btn {
        display: none;
        margin-right: 10px;
    }
    &.history {
        .search-tip-item {
            &:hover {
                .delete-btn {
                    display: inline-block;
                }

            }
        }
        .clear-btn {
            display: inline;
        }
    }
}
