<header class="header">
    <nav class="navigation">
        <div class="user-box">
            <a [routerLink]="['/user']" class="username text-link">刘小强</a><span> , 欢迎使用上汽大通电子配件目录</span>
        </div>
        <ul class="nav-box">
            <li><a [routerLink]="['/']" class="nav-link">首页</a></li>
            <li class="toggle-bg">
                <header-cart></header-cart>
            </li>
            <li class="toggle-bg">
                <a href="javascript:;" class="nav-link">
                    <span class="icon"></span>
                    <span class="text">语言</span>
                    <i class="icon-down iconfont icon-arrow-down"></i>
                    <i class="icon-up iconfont icon-arrow-up"></i>
                </a>
                <ul class="dropdown-list dropdown-content">
                    <li>
                        <a href="javascript:;" class="link-btn" data-lang-code="zh">中文</a>
                    </li>
                    <li>
                        <a href="javascript:;" class="link-btn" data-lang-code="en">English</a>
                    </li>
                </ul>
            </li>
            <li class="toggle-bg">
                <a [routerLink]="['/user']" class="nav-link" target="_blank">
                    <span class="icon"></span>
                    <span class="text">用户中心</span>
                </a>
            </li>
            <li><a [routerLink]="['/logout']" class="nav-link">退出</a></li>
        </ul>
    </nav>

    <section class="banner v-middle">
        <a [routerLink]="['/']" class="logo-wrapper">
            <img src="{{ '/tis/logo/' + globalConfig.oemCode + '.png' | resHost }}" />
        </a>
        <header-search></header-search>
    </section>

    <div class="float-tip float-tip-block normal hide">
        <div class="tip-content">
            <span class="text"></span>
        </div>
    </div>

    <div class="float-tip float-tip-block price hide">
        <div class="tip-content">
            <span class="text"></span>
        </div>
    </div>
</header>
