@import "../etc/config";

$important-text-color: #1B77B9 !default;   // main-style-text-color bugong
$condition-btn-color: #6c6c6c !default;
$condition-btn-border-color: #b3b3b3 !default;
$float-tip-color: #ffffff !default;
$float-tip-bdcolor: #e1e0e0 !default;
$float-tip-bdccolor: #c6c6c6 !default;
$icon-cbtn-color: #494c6c !default;
$cart-item-discheckbg: #ececec !default;

// common color start
$important-color: #238BD7 !default;     // main color bugong
$theme-color: #25415F !default; // BreadcrumbNavigation-background-color bugong
$text-color: #333333 !default; // base-text-color
$bg-color: #fafafa !default;   // base-background-color
$hover-color: #289bee !default; //base-text-hover-color bugong
$active-color: #1C77B8 !default; //base-text-active-color bugong
$disabled-color: #bababa !default;
$img-wrapper-bg-color: #ffffff !default;
// common border color
$dash-line-color: #c2c2c2 !default;
$solid-line-color: #e0e0e0 !default;
$dotted-line-color: #bababa !default;
$footer-border-color: #666666 !default;

$parts-item-activebg: #E3F3FF !default;  // bugong
$parts-item-hoverbg: #d7eaf7 !default;  // bugong
$gray-text: #b3b3b3 !default;
$warn-color: #ffbb04 !default;
$cart-item-disabledbg: #f4f4f4 !default;
// common color end

/* begin common vars */
$banner-bg-color: #ffffff !default;
$top-nav-color: #f2f2f2 !default;
$nav-bar-color: #aeaeb6 !default;
$nav-bar-active-color: #ffffff !default;
$dialog-btnbg-color: #efefef !default;
$dialog-line-color: #dbdbdb !default;
$dialog-close-color: #c1c1c1 !default;
$shadow-color: #dcdbdc !default;
$condition-block-line: #666666 !default;
$search-btn-color: #999999 !default;
$common-prompt-color: #E50D19 !default;
/* end common vars */

/* begin size vars */

$top-nav-height: 30px !default;
$banner-height: 74px !default;  // bugong
$footer-height: 28px !default;  // bugong
$footer-border-height: 1px !default;
$footer-padding-top: 0 !default;  // bugong
$common-padding: 20px !default;

$main-font-size: 12px !default;
$main-line-height: 2em !default;

$wrapper-padding: 0 $common-padding !default;

$nav-bar-height: 35px !default;  // bugong
$nav-bar-padding: 0 $common-padding !default;

$common-border-width: 1px !default;

$common-text-margin: 10px !default;

$common-radius: 4px !default;
$small-radius: 2px !default;

$dashe-line-opacity: 0.3 !default;

$paging-goto-block-width: 220px !default;

$headline-top-padding: 10px !default;  // bugong

$condition-entity-top: 41px !default;  // bugong
$condition-title-margin-bottom: 0 !default;  // bugong
$condition-title-line-height: 1.85em !default;  // bugong
$condition-content-line-height: 1.8em !default;  // bugong
$condition-content-margin-bottom: 5px !default;  // bugong

$parts-item-height: 61px !default;  // bugong
$parts-item-padding-top: 10px !default;  // bugong
/* end size vars */

/* begin style vars */
$common-font-style: 'Microsoft Yahei', 'Arial', 'Simhei', 'SimSun', 'sans-serif' !default;
$common-solid-style: solid !default;
$common-dash-style: dashed !default;
$coomon-datted-style: dotted !default;

$footer-border-style: $footer-border-height $common-solid-style $footer-border-color !default;
$common-solid-border: $common-border-width $common-solid-style $solid-line-color !default;
$common-dashed-border: $common-border-width $common-dash-style $dash-line-color !default;
$common-dotted-border: $common-border-width $coomon-datted-style $dotted-line-color !default;
/* end style vars */

/* begin btn vars */
//icon btn
$icon-btn-width: 24px !default;
$icon-btn-height: 24px !default;
$icon-btn-radius: $common-radius !default;
$icon-btn-margin: 0 0 0 10px !default;
$icon-btn-color: $theme-color !default;
$icon-btn-bg-color: #ffffff !default;
$icon-btn-hove-bg-color: #ff5865 !default;
$icon-btn-active-bg-color: #f72f3e !default;
$icon-hover-color: #ffffff !default;
$icon-disabled-color: #c7c7c7 !default;
$icon-disabled-bg-color: #c7c7c7 !default;

//small icon btn

$icon-sbtn-width: 12px !default;
$icon-sbtn-height: 12px !default;
$icon-sbtn-margin: 0 0 0 10px !default;
$icon-sbtn-color: #797979 !default;
$icon-sbtn-bg-color: transparent !default;
$icon-sbtn-hover-bg-color: transparent !default;
$icon-sbtn-active-bg-color: transparent !default;
$icon-sbtn-hover-color: $hover-color !default;
$icon-sbtn-disabled-color: #c7c7c7 !default;
$icon-sbtn-disabled-bg-color: transparent !default;

//btn
$btn-common-height: 30px !default;
$btn-common-padding: 0 10px !default;
$btn-common-min-width: 60px !default;
$btn-common-radius: $common-radius !default;
$btn-common-color: #ffffff !default;
$btn-common-bg-color: $theme-color !default;
$btn-common-fsize: $main-font-size !default;
$btn-common-hover-color: #ffffff !default;
$btn-common-hover-bgcolor: #289bee !default;  // bugong
$btn-common-active-color: #494c6c !default;
$btn-common-active-bgcolor: #303249 !default;
//small-btn
$btn-small-height: 24px !default;
$btn-small-min-width: 54px !default;
/* end btn vars */

/* begin input vars */
$common-input-width: 360px !default;
$common-input-height: 30px !default;
$common-input-padding: 0 10px !default;
$common-icon-input-width: 240px !default;
$common-input-radius: $common-radius !default;
$common-input-bg-color: #ffffff !default;
$common-input-box-shadow: 2px -2px 2px 0 #f7f7f7 inset, 2px 2px 2px 0 #f7f7f7 inset !default;
$small-input-width: 54px !default;
$small-input-height: 24px !default;
$input-tip-color: #cccccc !default;
/* end input vars */




