$main-font-size: 12px;
$font: 12px/2em "Microsoft Yahei", "Arial", "Simhei", "SimSun", "sans-serif";
$text-color: #333;

$important-text-color: #f72f3e !default; //main-style-text-color
$condition-btn-color: #6c6c6c !default;
$condition-btn-border-color: #b3b3b3 !default;
$float-tip-color: #ffffff !default;
$float-tip-bdcolor: #e1e0e0 !default;
$float-tip-bdccolor: #c6c6c6 !default;
$icon-cbtn-color: #494c6c !default;
$cart-item-discheckbg: #ececec !default;

// common color start
$important-color: #fd4452 !default; // main color
$theme-color: #353751 !default; // BreadcrumbNavigation-background-color
$text-color: #333333 !default; // base-text-color
$bg-color: #fafafa !default; // base-background-color
$hover-color: #ff5865 !default; //base-text-hover-color
$active-color: #f72f3e !default; //base-text-active-color
$disabled-color: #bababa !default;
$img-wrapper-bg-color: #ffffff !default;
// common border color
$dash-line-color: #c2c2c2 !default;
$solid-line-color: #e0e0e0 !default;
$dotted-line-color: #bababa !default;
$footer-border-color: #666666 !default;

$parts-item-activebg: #fcedef !default;
$parts-item-hoverbg: #efeaeb !default;
$gray-text: #b3b3b3 !default;
$warn-color: #ffbb04 !default;
$cart-item-disabledbg: #f4f4f4 !default;
// common color end

$input-info-wrapper-color: #f82f3f !default;
