@import "../../sass/etc/mixin";
@import "../../sass/var/frame";

$tab-color: #ffffff !default; //tab text color
$tab-border: #1B77B9 !default;  // bugong
$tab-active-border: #1B77B9 !default;  // bugong

.part-content {
    margin: 20px 0;
    .big-img-wrapper {
        float: left;
        width: 400px;
        @include setHeightGroup(400px, 2px);
        border: $common-solid-border;
        background: $img-wrapper-bg-color;
        font-size: 0;
        text-align: center;
        margin-right: 45px;
        img {
            @include setAutoImg();
        }
    }
    .part-detail-wrapper, .part-vin-wrapper {
        max-width: 820px;
        min-width: 700px;
        min-height: 400px;
        overflow: hidden;
        position: relative;
        .part-item-wrapper {
            padding-top: 10px;
            //margin-right: -110px;
        }
        .btn-wrapper {
            margin-top: 20px;
            .icon {
                margin-right: 5px;
            }
        }
    }
    .part-vin-wrapper {
        .part-item-wrapper {
            margin-right: -200px;
        }
    }
    .spec-list {
        height: 70px;
        position: absolute;
        bottom: 0;
        font-size: 0;
        .spec-items-list {
            width: 500%;
            position: absolute;
            .spec-item {
                display: inline-block;
                &.active {
                    .img-wrapper{
                        border-color: $active-color;
                    }
                }
            }
        }
        .img-wrapper {
            display: inline-block;
            width: 70px;
            @include setHeightGroup(70px, 2px);
            border: $common-solid-border;
            background: #ffffff;
            font-size: 0;
            text-align: center;
            margin: 0 5px;
            img {
                @include setAutoImg();
            }

        }
    }
}
.part-relative-content {
    margin-bottom: 20px;
}
.tab-head {
    border-bottom: solid 1px $tab-border;
    font-size: 0;
    .tab-btn {
        display: inline-block;
        @include setHeightGroup(36px);
        min-width: 80px;
        padding: 0 10px;
        background: #ffffff;
        text-decoration: none;
        color: $text-color;
        border: $common-solid-border;
        font-size: $main-font-size;
        font-weight: bold;
        text-align: center;
        border-top-left-radius: $common-radius;
        border-top-right-radius: $common-radius;
        &:hover {
            background: $hover-color;
            color: $tab-color;
            border-color: $hover-color;
        }
        &.active {
            background: $active-color;
            color: $tab-color;
            border-color: $tab-active-border;
        }
    }

}
.tab-content {
    display: none;
    &.active {
        display: block;
    }
}

.vin-result-tip {
    width: 750px;
    margin: 40px auto 30px;;
    table {
        width:  100%;
        text-align: center;
    }
}
.prat-error-block {
    width: 190px;
    margin-top: 120px;
}
