<a [routerLink]="['/cart']" class="nav-link">
    <i class="icon-active iconfont icon-cart"></i>
    <span class="text">购物车</span>
    <span>(</span>
    <span class="important-text">{{orders.length}}</span>
    <span>)</span>
    <i class="icon-down iconfont icon-arrow-down"></i>
    <i class="icon-up iconfont icon-arrow-up"></i>
</a>
<div class="cart-wrapper cart-header-wrap cart-content dropdown-content condition-block">

    <div *ngIf="orders.length === 0; else cart;" class="no-goods-header-wrapper info-text">
        <span class="icon"><i class="iconfont icon-cart"></i></span>
        <span>您的购物车还是空的，赶紧挑选配件吧~~~</span>
    </div>

    <ng-template #cart>
        <div class="headline">
            <span class="text bold-text">购物车</span>
        </div>
        <div class="item-list">
            <div *ngFor="let item of orders;" class="item clearfix">
                <div class="part">
                    <div>
                        <a [routerLink]="['/part', item.partCode]" class="text-link">{{item.partCode}}</a>
                    </div>
                    <div>{{item.partName}}</div>
                </div>
                <div class="info">
                    <span class="num">x {{item.num}}</span>
                    <a href="javascript:;" class="text-link secondary delete-btn" (click)="deleteOrder(item.id)">
                        <i class="iconfont icon-delete"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="total">
            <span class="total-item">
                共<span class="important-text product-num">{{orders.length}}</span>件商品
            </span>
        </div>
        <div class="btn-wrapper">
            <a [routerLink]="['/cart']" class="btn">去购物车结算</a>
        </div>
    </ng-template>
</div>
