<div class="grid">
    <div hidden><ng-content></ng-content></div>
    <table>
        <thead>
            <tr>
                <th *ngFor="let column of columns">
                    <ng-container *ngIf="column.isCheckbox; else text;"><s-checkbox (statusChange)="handleClickHeadCheckbox($event)" [checked]="isSelectAll"></s-checkbox></ng-container>
                    <ng-template #text>
                        {{column.label}}
                    </ng-template>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let record of store;">
                <td *ngFor="let column of columns">

                    <ng-container [ngSwitch]="getColumnModel(column)">

                        <s-checkbox *ngSwitchCase="'checkbox'" (statusChange)="handleClickRowCheckbox($event, record)" [checked]="record.checked"></s-checkbox>

                        <ng-container *ngSwitchCase="'template'">
                            <!-- $implicit，定义未绑定变量名的变量的值 -->
                            <ng-template
                                [ngTemplateOutlet]="column.tplRef" [ngTemplateOutletContext]="{
                                '$implicit': record,
                                store: store
                            }"></ng-template>
                        </ng-container>

                        <ng-container *ngSwitchDefault>
                            {{record.name}}
                        </ng-container>
                    </ng-container>
                </td>
            </tr>
        </tbody>
    </table>
</div>
