@import "../../../sass/etc/mixin";

$text-color: #333;
//头部背景
$nv-hd-bg: #f2f2f2;
//默认边框
$border-width: 1px;
$border-style: solid;
//弹出框
$dp-border-color: #e0e0e0;
//nav-link
$hover-color: #ff5865;
$item-link-color: #efeaeb;
$arrow-hover-color: #fd4452;
//面包屑
$crumb-nav-bg: #353751;
$crumb-nav-color: #fff;

.header {
    width: 100%;
    z-index: 99999;
    min-width: 1200px;
}
.navigation {
    height: 30px;
    line-height: 30px;
    background: $nv-hd-bg;
    padding: 0 5px 0 20px;
    position: relative;

    .user-box {
        float: left;
    }
    .nav-box {
        font-size: 0;
        float: right;
        &>li {
            font-size: 12px;
            display: inline-block;
            position: relative;

            &:first-child>a {
                border-left: none;
            }
            .nav-link {
                display: inline-block;
                line-height: 1em;
                padding: 0 12px;
                border-left: solid 1px #c2c2c2;
                text-decoration: none;
                vertical-align: middle;
                color: $text-color;

                &:hover {
                    color: $hover-color;
                }
                &:active {
                    color: #f72f3e;
                }
            }
            .icon-active {
                color: $arrow-hover-color;
            }
            .icon-down, .icon-up {
                color: #717171;
            }
            .icon-up {
                display: none;
            }
            &:hover {
                cursor: pointer;

                .icon-down {
                    display: none;
                }
                .icon-up {
                    color: $arrow-hover-color;
                    display: inline;
                }
                .text {
                    color: $arrow-hover-color;
                }
            }
            &.toggleBg {
                &:hover {
                    .dropdowncontent {
                        display: block;
                    }
                }
            }
        }
        .cart-content {
            width: 275px;
            max-height: 456px;
            min-height: 94px;
            padding: 0 20px 20px;

            .no-goods-header-wrapper {
                margin: 30px -17px 10px;
                s-icon {
                    font-size: 20px;
                    vertical-align: middle;
                    margin-right: 5px;
                }
                span{
                    vertical-align: middle;
                }
            }
            .info-text {
                color: #b3b3b3;
            }
        }

        .poppicker-box-item{
            &>li{
                &:hover{
                    background: #d7eaf7;
                }
                &>a{
                    display: inline-block;
                    line-height: 1em;
                    padding: 0 12px;
                    text-decoration: none;
                    color: $text-color;
                    &:hover{
                        color: #1c77b8
                    }
                }
            }
        }
    }
}
.current, .important-text {
    color: #f72f3e;
}
.text-link {
    color: $text-color;
}
.navbar {
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    background: $crumb-nav-bg;

    .crumbs-item {
        color: $crumb-nav-color;
        text-decoration: none;

        .paging-icon {
            margin: 0 10px 0 20px;

            .iconfont {
                font-size: 12px;
            }
        }
        &:first-child .paging-icon {
            display: none;
        }
    }
}

:host ::ng-deep .s-menu-title{
    border-left: 1px solid #c2c2c2;
}
