.loading-wrapper {
    text-align: center;
    padding-top: 25px;
}

.loading-indicator {
    height: 60px;
    width: 60px;
    background: url('../../../assets/common/styles/images/loading_big.gif');
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    left:50%;
    top:50%;
    margin-top: -30px;
    margin-left: -30px;
}

.loading-indicator-overlay {
    background-color: #FFFFFF;
    opacity: 0.7;
    filter: alpha(opacity=70);
    position: absolute;
    left:0;
    top:0;
    bottom:0;
    right:0;
    z-index: 10000;
}

.loading-middle {
    display: inline-block;
    height: 40px;
    width: 40px;
    background: url('../../../assets/common/styles/images/loading_big.gif');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}

.loading-small {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url('../../../assets/common/styles/images/loading_small.gif');
    vertical-align: middle;
}
