<app-header></app-header>
<section class="wrapper clearfix">
    <aside id="serach-block" class="search-condition condition-block home-search-condition">
        <div class="headline">
            <span class="text bold-text">年份/车型</span>
        </div>
        <div id="condition-item-wrapper" class="hide" style="display: block;">

            <div class="condition-item hide collapse" data-key="m_3" style="display: block;">
                <div class="condition-title">
                    <span class="bold-text title-text">年</span>
                    <span class="current-choice-wrapper">
                        <span class="current">[</span>
                        <span class="current current-choice">全部</span>
                        <span class="current">]</span>
                    </span>
                </div>
                <div class="condition-content">
                    <div>
                        <a href="javascript:;" target="_self" class="text-link secondary active" data-id="-1" data-code="-1" data-lvl="3" data-name="全部">全部</a>
                    </div>
                    <div>
                        <a href="javascript:;" target="_self" class="text-link secondary" data-id="12135389" data-code="11574" data-lvl="3" data-name="2013">2013</a>
                    </div>
                    <div>
                        <a href="javascript:;" target="_self" class="text-link secondary" data-id="12135406" data-code="11591" data-lvl="3" data-name="2014">2014</a>
                    </div>
                    <div>
                        <a href="javascript:;" target="_self" class="text-link secondary" data-id="12135430" data-code="11615" data-lvl="3" data-name="2015">2015</a>
                    </div>
                    <div>
                        <a href="javascript:;" target="_self" class="text-link secondary" data-id="12135451" data-code="11636" data-lvl="3" data-name="2016">2016</a>
                    </div>
                    <div>
                        <a href="javascript:;" target="_self" class="text-link secondary" data-id="12135471" data-code="11656" data-lvl="3" data-name="2017">2017</a>
                    </div>
                </div>
                <div class="condition-btn-wrapper">
                    <a href="javascript:;" class="condition-btn">
                        <span class="btn-collaspe"> <i class="iconfont icon-collapse"></i>
                            <span class="text">更多</span>
                        </span>
                        <span class="btn-expand"> <i class="iconfont icon-expand"></i>
                            <span class="text">收起</span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="condition-item hide collapse" data-key="m_4" style="display: block;">
                <div class="condition-title">
                    <span class="bold-text title-text">车型</span>
                    <span class="current-choice-wrapper"></span>
                </div>
                <div class="condition-content">
                    <div>
                        <a href="/usage?m_1=4702&amp;m_2=1004457&amp;m_3=-1&amp;m_4=-1" target="_blank" class="text-link secondary" data-id="-1" data-code="-1" data-lvl="4" data-name="全部">全部</a>
                    </div>
                    <div>
                        <a href="/usage?m_1=4702&amp;m_2=1004457&amp;m_3=-1&amp;m_4=10431184" target="_blank" class="text-link secondary" data-id="10431184" data-code="10015073" data-lvl="4" data-name="BYD7150WT5HEV5(1.5排量尊贵型)">BYD7150WT5HEV5(1.5排量尊贵型)</a>
                    </div>
                    <div>
                        <a href="/usage?m_1=4702&amp;m_2=1004457&amp;m_3=-1&amp;m_4=10431587" target="_blank" class="text-link secondary" data-id="10431587" data-code="10015436" data-lvl="4" data-name="BYD7150WT5HEV5(1.5排量旗舰型)">BYD7150WT5HEV5(1.5排量旗舰型)</a>
                    </div>
                    <div>
                        <a href="/usage?m_1=4702&amp;m_2=1004457&amp;m_3=-1&amp;m_4=10430903" target="_blank" class="text-link secondary" data-id="10430903" data-code="10015081" data-lvl="4" data-name="BYD7150WTHEV2(1.5排量尊贵型)">BYD7150WTHEV2(1.5排量尊贵型)</a>
                    </div>
                    <div>
                        <a href="/usage?m_1=4702&amp;m_2=1004457&amp;m_3=-1&amp;m_4=10431233" target="_blank" class="text-link secondary" data-id="10431233" data-code="10015340" data-lvl="4" data-name="BYD7150WTHEV2(1.5排量旗舰型)">BYD7150WTHEV2(1.5排量旗舰型)</a>
                    </div>
                    <div>
                        <a href="/usage?m_1=4702&amp;m_2=1004457&amp;m_3=-1&amp;m_4=10431606" target="_blank" class="text-link secondary" data-id="10431606" data-code="10015255" data-lvl="4" data-name="BYD7150WTHEV2(1.5排量旗舰型（深内饰）)">BYD7150WTHEV2(1.5排量旗舰型（深内饰）)</a>
                    </div>
                    <div>
                        <a href="/usage?m_1=4702&amp;m_2=1004457&amp;m_3=-1&amp;m_4=10431687" target="_blank" class="text-link secondary" data-id="10431687" data-code="10014928" data-lvl="4" data-name="BYD7150WTHEV3(1.5排量伙伴型)">BYD7150WTHEV3(1.5排量伙伴型)</a>
                    </div>
                    <div>
                        <a href="/usage?m_1=4702&amp;m_2=1004457&amp;m_3=-1&amp;m_4=10431660" target="_blank" class="text-link secondary" data-id="10431660" data-code="10014784" data-lvl="4" data-name="BYD7150WTHEV3(1.5排量尊贵型)">BYD7150WTHEV3(1.5排量尊贵型)</a>
                    </div>
                    <div>
                        <a href="/usage?m_1=4702&amp;m_2=1004457&amp;m_3=-1&amp;m_4=10431003" target="_blank" class="text-link secondary" data-id="10431003" data-code="10014841" data-lvl="4" data-name="BYD7150WTHEV3(1.5排量旗舰型)">BYD7150WTHEV3(1.5排量旗舰型)</a>
                    </div>
                    <div>
                        <a href="/usage?m_1=4702&amp;m_2=1004457&amp;m_3=-1&amp;m_4=10430893" target="_blank" class="text-link secondary" data-id="10430893" data-code="10015435" data-lvl="4" data-name="BYD7150WTHEV3(1.5排量旗舰型（15款）)">BYD7150WTHEV3(1.5排量旗舰型（15款）)</a>
                    </div>
                    <div>
                        <a href="/usage?m_1=4702&amp;m_2=1004457&amp;m_3=-1&amp;m_4=10430509" target="_blank" class="text-link secondary" data-id="10430509" data-code="10015312" data-lvl="4" data-name="BYD7150WTHEV3(1.5排量旗舰型（深内饰）)">BYD7150WTHEV3(1.5排量旗舰型（深内饰）)</a>
                    </div>
                    <div>
                        <a href="/usage?m_1=4702&amp;m_2=1004457&amp;m_3=-1&amp;m_4=10430929" target="_blank" class="text-link secondary" data-id="10430929" data-code="10015459" data-lvl="4" data-name="BYD7150WTHEV3(1.5排量精英型（15款）)">BYD7150WTHEV3(1.5排量精英型（15款）)</a>
                    </div>
                    <div>
                        <a href="/usage?m_1=4702&amp;m_2=1004457&amp;m_3=-1&amp;m_4=10430810" target="_blank" class="text-link secondary" data-id="10430810" data-code="10014882" data-lvl="4" data-name="BYD7150WTHEV3(1.5排量豪华型)">BYD7150WTHEV3(1.5排量豪华型)</a>
                    </div>
                </div>
                <div class="condition-btn-wrapper">
                    <a href="javascript:;" class="condition-btn">
                        <span class="btn-collaspe">
                            <i class="iconfont icon-collapse"></i>
                            <span class="text">更多</span>
                        </span>
                        <span class="btn-expand">
                            <i class="iconfont icon-expand"></i>
                            <span class="text">收起</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>

        <div class="lead-content" style="display: none;">
            <div class="lead-info">
                <div class="lead-info-icon"></div>
                <span class="text">请先选择左侧车系图片</span>
            </div>
        </div>
    </aside>
    <section id="brand-block" class="condition-block brand-block">
        <div class="headline">
            <span class="text bold-text">{{trans.m_1}}</span>
        </div>
        <div class="condition-entity">
            <div class="brand-tab-btn">
                <!--   #foreach($mapping in $roots)
                    <a href="javascript:;" class="btn secondary tab-btn" data-id="$mapping.id" data-lvl="$mapping.lvl" data-code="$mapping.code" data-name="$mapping.name">$mapping.name</a>
            #end -->
            <a href="javascript:;" *ngFor="let brand of brands;first as isFirst" (click)="onClickBrand(brand)" class="btn secondary tab-btn" [ngClass]={active:isFirst}>{{brand.name}}</a>
        </div>
        <div id="series-content" class="series-tab-content">
            <ul class="tab-content">
                <!--  <script type="text/template" id="brand-serires-templ">
                {{#data}}
                <li class="series-item">
                    <a href="{{url}}" target="{{target}}" class="series-btn" data-id="{{id}}" data-code="{{code}}" data-lvl="{{lvl}}" data-name="{{name}}">
                        <div class="img-wrapper">
                          <img class="lazy" [src]="epc/mapping/code.png | rootpath" />
                            <img class="lazy" src="${resHost}/epc/mapping/{{code}}.png" />
                        </div>
                        <div class="text">{{name}}</div>
                    </a>
                </li>
                {{/data}}
            </script>
            -->
            <li class="series-item" *ngFor="let series of seriesList">
                <a href="javascript:;"  class="series-btn" [ngClass]="{active:series.id == seriesId}" (click)="onClickSeries(series)">
                    <div class="img-wrapper">
                    <img class="lazy" [src]="'/epc/mapping/{code}.png' | rootpath:{path:'resHost',code:series.code}" />
                    </div>
                    <div class="text">{{series.name}}</div>
                </a>
            </li>
        </ul>
    </div>
</div>
</section>
</section>
<app-footer></app-footer>
