<ng-container *ngIf="isShow">
    <div class="dialog-overlay"
        [ngStyle]="{
            display: isShow ? 'block' : 'none',
            opacity: isShow ? '1' : '0'
        }">
    </div>
    <div class="dialog" [@fade]="fadeState">
        <div class="dialog-title">
            <a href="javascript:;" class="close-btn" (click)="cancel()"><i class="iconfont icon-close"></i></a>
            <span class="text">提示</span>
        </div>
        <div class="dialog-content">
            <div class="content-text">
                <span class="icon-wrapper"><span class="icon"></span></span>
                <span class="text">{{content}}</span>
            </div>
        </div>
        <div class="dialog-btn-wrapper">
            <a href="javascript:;" class="btn" (click)="confirm()">确定</a>
            <a href="javascript:;" class="btn secondary" (click)="cancel()">取消</a>
        </div>
    </div>
</ng-container>
